@import url("./common.css");

.header {
  width: 100%;
  height: 300px;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f3f4f6;
}

.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.row img {
  margin-top: 30px;
  width: 250px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  outline: none;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 16px;
  width: 300px;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

.search input:focus {
  border-color: #5c9ead; /* Изменение цвета рамки при фокусе */
}

.search button {
  outline: none;
  border: 1;
  border-color: #bbd3cb;
  height: 38px;
  padding: 0 0.5rem;
}
.btn-search:hover {
  background-color: #4c8c9e; /* Изменение цвета кнопки при наведении */
}

.filters {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filters label {
  font-size: 16px;
  color: #555;
}

.btn-search {
  outline: none;
  border: none;
  width: 35px;
  background-color: #5c9ead;
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.category,
.sort {
  font-weight: bold;
}

.filters select {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  appearance: none;
  background-color: transparent;
}

.filters select option {
  background-color: white;
  color: #333;
}

.filters select:focus {
  border-color: #5c9ead;
}
