@import url("./common.css");

.header {
  width: 100%;
  height: 280px;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f3f4f6;
}

.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.row img {
  margin-top: 30px;
  width: 250px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search input {
  outline: none;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 16px;
  width: 300px;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

.search input:focus {
  border-color: #5c9ead;
}

.search button {
  outline: none;
  border: 1;
  border-color: #bbd3cb;
  height: 38px;
  padding: 0 0.5rem;
}

.btn-search:hover {
  background-color: #4c8c9e;
}

.filters {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.filters label {
  font-size: 16px;
  color: #555;
}

.btn-search {
  outline: none;
  border: none;
  width: 35px;
  background-color: #5c9ead;
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.category,
.sort {
  font-weight: bold;
}

.filters select {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  appearance: none;
  background-color: transparent;
}

.filters select option {
  background-color: white;
  color: #333;
}

.filters select:focus {
  border-color: #5c9ead;
}

.btn-load-more:hover {
  background-color: #4a7a8d;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  box-sizing: border-box;
  margin-bottom: 150px;
  padding: 0 10px;
}

.book {
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #000;
  height: 360px;
  max-width: 250px;
  margin: 0; /* Удален margin */
}

.book:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.book img {
  width: 80%;
  height: 70%;
  margin-top: 10px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  margin: 5px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 65%;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .book {
    height: auto;
    max-width: 100%;
  }

  .book img {
    width: 100%;
    height: auto;
  }
}

.btn-load-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  background-color: #5c9ead;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
